@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
}

/* EFECTO SNAP (IMÁN) */
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

/* Opcional: Ocultar la barra de scroll para que parezca una app nativa */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}